[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
celery = "*"
django-redis = "*"
django-celery-beat = "*"
django-celery-results = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.8"
